# Importacion de librerias

In [8]:
import pandas as pd
import boto3
from dotenv import load_dotenv
import os

# Descarga de los datos desde un compomente de S3 en AWS

In [10]:

load_dotenv('../.env')
ACCESS_KEY = os.getenv('ACCESS_KEY')
SECRET_KEY = os.getenv('SECRET_KEY')

# Parámetros del bucket
bucket_name = 'assessment-86fc5eb8'
key = 'raw-data/data.csv'
local_path = '../data/data.csv'

# Crear carpeta si no existe
os.makedirs(os.path.dirname(local_path), exist_ok=True)


# Sesión con credenciales explícitas
session = boto3.Session(
    aws_access_key_id=ACCESS_KEY,
    aws_secret_access_key=SECRET_KEY,
    region_name='us-east-1' 
)

s3 = session.client('s3')

# Descargar archivo
s3.download_file(bucket_name, key, local_path)

# Importacion de los datos

In [11]:
df = pd.read_csv(local_path)
df.head(10)

  fecha_compra usuario     producto  cantidad  precio
0   2014-10-01  6cba0c  PROD-efd583         2   164.7
1   2014-10-01  6cba0c  PROD-a726f5         2   164.7
2   2014-10-01  6cba0c  PROD-3e1cd9         2   164.7
3   2014-10-01  6cba0c  PROD-d012c0         2   164.7
4   2014-10-01  6cba0c  PROD-48924a         3   164.7
5   2014-10-01  6cba0c  PROD-4c2559         2   164.7
6   2014-10-01  6cba0c  PROD-10e913         2   164.7
7   2014-10-01  6cba0c  PROD-3065f9         2   164.7
8   2014-10-01  6cba0c  PROD-f47365         2   164.7
9   2014-10-01  6cba0c  PROD-e658d1         1   164.7

In [13]:
num_usuarios=len(df['usuario'].unique())
num_productos=len(df['producto'].unique())
print(f"Número de usuarios únicos : {num_usuarios} y número de productos únicos: {num_productos}")

Número de usuarios únicos : 197392 y número de productos únicos: 16854